* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Assurez-vous que le padding et border ne dépassent pas la largeur définie */
}

.chat-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto 30px auto; /* Augmentez la marge supérieure pour pousser la boîte vers le bas */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    position: relative; /* Si vous n'avez pas déjà positionné la chat box */
    z-index: 10; /* Assurez-vous que la chat box est au-dessus du contenu de la page */
}

.chat-header {
    background-color: #DA291C; /* Rouge Burger King */
    color: white;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #0033A0; /* Bleu Burger King */
}

#chat-box {
    height: 325px;
    padding: 20px;
    overflow-y: auto;
    background-color: #FFF; /* Arrière-plan blanc pour contraster avec les messages */
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 80%;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    font-size: 0.9rem; /* 14px */
}

.user-message {
    background-color: #F2A900; /* Jaune Burger King */
    align-self: flex-end;
    border-radius: 15px 0px 15px 15px;
    color: white;
    padding-right: 40px; /* Ajout de marge à gauche pour décaler le message */
}

.bot-message {
    background-color: #edf2f7; /* Une teinte claire pour le contraste */
    align-self: flex-start;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-left: 40px; /* Ajout de marge à gauche pour décaler le message */
}

.chat-form {
    display: flex;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e2e8f0; /* Un gris clair */
}

#chat-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #cbd5e0; /* Gris pour le contraste */
    border-radius: 25px;
    margin-right: 15px;
}

#send-btn {
    background-color: #DA291C; /* Rouge Burger King */
    border: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
}

#send-btn:hover, #send-btn:focus {
    background-color: #F2A900; /* Jaune Burger King */
    outline: none;
}

.icon {
    height: 24px; /* ou la taille de votre icône */
    width: 24px;  /* ou la taille de votre icône */
    margin-right: 10px;
}

.user-message .icon {
    position: absolute;
    right: 0px; /* à droite du message utilisateur */
    bottom: 5px;
}

.bot-message .icon {
    position: absolute;
    left: 10px; /* à gauche du message bot */
    bottom: 19px;
}

/* Style de l'icône de l'utilisateur */
.user-message .user-icon {
    position: absolute;
    right: 10px; /* à droite du message utilisateur */
    bottom: 5px;
}

/* Pour les appareils mobiles */
@media (max-width: 768px) {
    .chat-container {
        max-width: 90%;
        margin-top: 20px;
    }
}

/* Scrollbar personnalisé */
#chat-box::-webkit-scrollbar {
    width: 5px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: #a0aec0; /* Couleur du scrollbar */
    border-radius: 10px;
}

.content-container {
    width: 50%;
    max-width: 400px; /* Ou la largeur que vous préférez */
    margin: 60px; /* Assurez-vous de modifier les marges si nécessaire */
    float: left; /* Pour placer la div à droite */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Couleur de fond de la div du contenu */
}

.content-header {
    background-color: #DA291C; /* Couleur de fond de l'en-tête de la div de contenu */
    color: white;
    padding: 20px;
    font-size: 1.5rem; /* 18px */
    text-align: center;
    border-bottom: 1px solid #38b2ac; /* Pour la délimitation */
}

.content-box {
    padding: 20px;
    height: 250px; /* Ou la hauteur que vous préférez */
    overflow-y: auto;
}

/* Style global de la barre de navigation */
.navbar {
    background-color: #333; /* Couleur de fond de la barre de navigation */
    overflow: hidden;
    position: fixed; /* Fixez la navbar en haut de la page */
    top: 0;
    left: 0;
    width: 100%; /* La barre de navigation prend toute la largeur de la page */
    z-index: 1000; /* S'assure que la navbar reste au-dessus des autres éléments */
}

/* Conteneur intérieur pour la barre de navigation */
.nav-container {
    display: flex; /* Use flexbox for the layout */
    justify-content: space-between; /* This will push the logo to the left and the nav items to the right */
    align-items: center; /* Align items vertically */
}

/* Liste de navigation */
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Aligner les éléments de la navigation à droite */
}

/* Éléments de la liste de navigation */
.nav-item {
    padding: 15px;
}

/* Liens de la navigation */
.nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ddd; /* Couleur des liens au survol */
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 20px; /* Ajoutez un padding à gauche si nécessaire */
}

.navbar-logo {
    height: 50px; /* Ajustez la hauteur selon la taille de votre logo */
    width: auto; /* Cela gardera le ratio de l'image */
}
