<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Chris</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='images/fond.jpg') }}'); background-size: cover; background-position: center center; background-attachment: fixed; background-repeat: no-repeat;">

<nav class="navbar">
    <div class="nav-container">
        <!-- Conteneur pour le logo à gauche -->
        <div class="navbar-brand">
            <a href="#home">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="navbar-logo" /> <!-- Assurez-vous que le chemin vers le logo est correct -->
            </a>
        </div>

        <!-- Conteneur pour les éléments de navigation à droite -->
        <ul class="nav-menu">
            <li class="nav-item"><a href="#home" class="nav-link">Accueil</a></li>
            <li class="nav-item"><a href="#menus" class="nav-link">Menus</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>

<div class="content-container">
    <div class="content-header">Chris, le bot d'entraînement aux entretiens</div>
    <div class="content-box">
        <p>Burger King innove dans le secteur de la restauration rapide avec Chris, un bot d'intelligence artificielle destiné à transformer la préparation aux entretiens d'embauche.</p>
        <br>
        <br>
        <p>L'introduction de Chris illustre la tendance de Burger King à automatiser et numériser le recrutement, facilitant l'accès à une variété de talents, notamment ceux moins à l'aise avec les méthodes traditionnelles.</p>
    </div>
</div>

<div class="chat-container">
    <div class="chat-header">Chat avec Chris</div>
    <div id="chat-box">
        <!-- La première question sera affichée ici avec l'icône du bot -->
        <div class="message bot-message">
            <img src="{{ url_for('static', filename='images/bot-icon.png') }}" alt="Bot Icon" class="icon">
            <span class="text">{{ first_question }}</span>
        </div>
    </div>
    <form id="chat-form" class="chat-form">
        <input type="text" name="message" id="chat-input" placeholder="Votre réponse..." required/>
        <button type="submit" id="send-btn">
            <i class="fas fa-paper-plane"></i> Envoyer
        </button>
    </form>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>
